body {
    background: rgb(243, 243, 243);
}
.myui-card-footer {
    font-size: 12px;
    display: flex;
    color: #707070;
    position: relative;
}
.layui-icon {
    font-size: 12px;
}
.myui-gap {
    margin-right: 10px;
}
.myui-gap:hover {
    color: #3c4af5;
}
.myui-card-content {
    /*padding: 5px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    color: #707070;
}
.myui-nickname {
    font-size: 18px;
    font-weight: bold;
    color: RGB(112,114,124);
}
.layui-card.myui-card {
    display: flex;
}
.myui-avatar-container {
    padding-left: 10px;
    padding-top: 10px;
}
.myui-avatar-small {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    transition: 0.5s;
}
.myui-avatar-small:hover {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.myui-avatar-middle {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.myui-avatar-middle {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transition: 0.5s;
}
.myui-avatar-middle:hover {
    width: 55px;
    height: 55px;
}
.myui-top-tip {
    border: solid 1px;
    color: RGB(250,81,81);
    font-size: 13px;
    margin-left: 5px;
    padding: 2px;
}
.myui-time-tip {
    color: RGB(119,121,131);
    font-size: 13px;
    font-weight: bold;
    float: right;
}
.myui-topic-tip {
    text-align: center;
    position: absolute;
    margin-left: 90%;
    height: 18px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 18px;
    border: 1px #707070 solid;
    border-radius: 10px;
}
.myui-card-titler {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}
.myui-menu-body-title {
    color: #867290;
    padding: 3px 3px 3px 10px;
    border-radius: 3px;
    width: 80%;
}
.myui-menu-body-title:hover{
    color: #867290;
    padding: 3px 3px 3px 10px;
    border-radius: 3px;
    width: 80%;
    background: #e8e8e8;
}
.myui-active.myui-menu-body-title{
    background: #e96f5a;
    padding: 3px 3px 3px 10px;
    border-radius: 3px;
    color: white;
}
.myui-top-image {
    width: 28px;
    border-radius: 4px
}
.myui-topic-name {
    margin-left: 5px;
    line-height: 28px
}
.myui-col {
    margin-right: 10px;
}
.myui-side-title {
    font-size: 16px;
    font-weight: bold;
}
.myui-side-card {
    width: 100%;
}