<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link href="../static/layui/layui.css" rel="stylesheet">
    <link href="../static/css/myui.css" rel="stylesheet">
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item">
        <a href="">带徽章<span class="layui-badge">9</span></a>
    </li>
    <li class="layui-nav-item">
        <a href="">小圆点<span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item" lay-unselect>
        <a href="javascript:;">
            <img src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="layui-nav-img">
        </a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">子级菜单</a></dd>
            <dd><a href="javascript:;">横线隔断</a></dd>
            <hr>
            <dd style="text-align: center;"><a href="">退出</a></dd>
        </dl>
    </li>
</ul>
<div class="layui-row" style="margin-top: 10px;">
    <div class="layui-col-md2 myui-col">
        <div class="layui-panel">
            <ul class="layui-menu" id="docDemoMenu1">
                <li lay-options="{id: 100}">
                    <div class="myui-menu-body-title">
                        <img class="myui-top-image" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
                        <span class="myui-topic-name">最新</span>
                    </div>
                </li>
                <li lay-options="{id: 100}">
                    <div class="myui-menu-body-title myui-active">
                        <img class="myui-top-image" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
                        <span class="myui-topic-name">推荐</span>
                    </div>
                </li>
                <li lay-options="{id: 100}">
                    <div class="myui-menu-body-title">
                        <img class="myui-top-image" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
                        <span class="myui-topic-name">最新</span>
                    </div>
                </li>
                <li lay-options="{id: 100}">
                    <div class="myui-menu-body-title">
                        <img class="myui-top-image" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
                        <span class="myui-topic-name">最新</span>
                    </div>
                </li>
                <li lay-options="{id: 100}">
                    <div class="myui-menu-body-title">
                        <img class="myui-top-image" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
                        <span class="myui-topic-name">最新</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-col-md8 myui-col">
        <div class="layui-card myui-card">
            <div class="myui-avatar-container">
                <img src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="myui-avatar-middle">
            </div>
            <div class="layui-card-body">
                <div class="myui-card-header">
                    <span class="myui-nickname">敏书</span>
                    <span class="myui-top-tip">置顶</span>
                    <span class="myui-time-tip">发布于2024-23-12 12:12:21</span>
                </div>
                <a class="myui-card-titler" target="_blank" href="http://localhost:8080">
                    Go 语言社区系统 BBS-GO 4.0.0 发布，升级vue3、nuxt3
                </a>
                <div class="myui-card-content">
                    卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影
                </div>
                <div class="myui-card-footer">
                    <div class="myui-gap">
                        <i class="layui-icon layui-icon-star"></i>&nbsp点赞&nbsp<span>2121</span>
                    </div>
                    <div  class="myui-gap">
                        <i class="layui-icon layui-icon-reply-fill"></i>&nbsp阅读&nbsp<span>2121</span>
                    </div>
                    <div  class="myui-gap">
                        <i class="layui-icon layui-icon-read"></i>&nbsp浏览&nbsp<span>2121</span>
                    </div>
                    <div class="myui-topic-tip">开源撒撒</div>
                </div>
            </div>
        </div>
        <div class="layui-card myui-card">
            <div class="myui-avatar-container">
                <img src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="myui-avatar-middle">
            </div>
            <div class="layui-card-body">
                <div class="myui-card-header">
                    <span class="myui-nickname">敏书</span>
                    <span class="myui-top-tip">置顶</span>
                    <span class="myui-time-tip">发布于2024-23-12 12:12:21</span>
                </div>
                <a class="myui-card-titler" target="_blank" href="http://localhost:8080">
                    Go 语言社区系统 BBS-GO 4.0.0 发布，升级vue3、nuxt3
                </a>
                <div class="myui-card-content">
                    卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影
                </div>
                <div class="myui-card-footer">
                    <div class="myui-gap">
                        <i class="layui-icon layui-icon-star"></i>&nbsp点赞&nbsp<span>2121</span>
                    </div>
                    <div  class="myui-gap">
                        <i class="layui-icon layui-icon-reply-fill"></i>&nbsp阅读&nbsp<span>2121</span>
                    </div>
                    <div  class="myui-gap">
                        <i class="layui-icon layui-icon-read"></i>&nbsp浏览&nbsp<span>2121</span>
                    </div>
                    <div class="myui-topic-tip">开源</div>
                </div>
            </div>
        </div>
        <div class="layui-card myui-card">
            <div class="myui-avatar-container">
                <img src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="myui-avatar-middle">
            </div>
            <div class="layui-card-body">
                <div class="myui-card-header">
                    <span class="myui-nickname">敏书</span>
                    <span class="myui-top-tip">置顶</span>
                    <span class="myui-time-tip">发布于2024-23-12 12:12:21</span>
                </div>
                <a class="myui-card-titler" target="_blank" href="http://localhost:8080">
                    Go 语言社区系统 BBS-GO 4.0.0 发布，升级vue3、nuxt3
                </a>
                <div class="myui-card-content">
                    卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影
                </div>
                <div class="myui-card-footer">
                    <div class="myui-gap">
                        <i class="layui-icon layui-icon-star"></i>&nbsp点赞&nbsp<span>2121</span>
                    </div>
                    <div  class="myui-gap">
                        <i class="layui-icon layui-icon-reply-fill"></i>&nbsp阅读&nbsp<span>2121</span>
                    </div>
                    <div  class="myui-gap">
                        <i class="layui-icon layui-icon-read"></i>&nbsp浏览&nbsp<span>2121</span>
                    </div>
                    <div class="myui-topic-tip">开源</div>
                </div>
            </div>
        </div>
        <div class="layui-card myui-card">
            <div class="myui-avatar-container">
                <img src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="myui-avatar-middle">
            </div>
            <div class="layui-card-body">
                <div class="myui-card-header">
                    <span class="myui-nickname">敏书</span>
                    <span class="myui-top-tip">置顶</span>
                    <span class="myui-time-tip">发布于2024-23-12 12:12:21</span>
                </div>
                <a class="myui-card-titler" target="_blank" href="http://localhost:8080">
                    Go 语言社区系统 BBS-GO 4.0.0 发布，升级vue3、nuxt3
                </a>
                <div class="myui-card-content">
                    卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影卡片式面板面板通常用于非白色背景色的主体内
                    从而映衬出边框投影
                </div>
                <div class="myui-card-footer">
                    <div class="myui-gap">
                        <i class="layui-icon layui-icon-star"></i>&nbsp点赞&nbsp<span>2121</span>
                    </div>
                    <div  class="myui-gap">
                        <i class="layui-icon layui-icon-reply-fill"></i>&nbsp阅读&nbsp<span>2121</span>
                    </div>
                    <div  class="myui-gap">
                        <i class="layui-icon layui-icon-read"></i>&nbsp浏览&nbsp<span>2121</span>
                    </div>
                    <div class="myui-topic-tip">开源</div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md2">
        <div class="layui-card">
            <div class="layui-card-header myui-side-title">公告</div>
            <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内
                从而映衬出边框投影
            </div>
        </div>

        <div class="layui-card myui-side-card">
            <div class="layui-card-header myui-side-title">积分排行</div>
            <div class="layui-card-body">
                <div>
                    <img class="myui-avatar-small" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
                    <hr>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script src="../static/layui/layui.js"></script>

</body>
</html>