<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link href="../static/layui/layui.css" rel="stylesheet">
    <link href="../static/css/myui.css" rel="stylesheet">
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item">
        <a href="">带徽章<span class="layui-badge">9</span></a>
    </li>
    <li class="layui-nav-item">
        <a href="">小圆点<span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item" lay-unselect>
        <a href="javascript:;">
            <img src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="layui-nav-img">
        </a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">子级菜单</a></dd>
            <dd><a href="javascript:;">横线隔断</a></dd>
            <hr>
            <dd style="text-align: center;"><a href="">退出</a></dd>
        </dl>
    </li>
</ul>
<div class="layui-container" style="margin-top: 15px">
    <div class="layui-row">
        <div class="layui-col-md9">
            <div class="layui-card"  style="padding: 10px 10px 15px 15px">
                <div class="layui-row">
                    <div class="layui-col-md2">
                        <img class="myui-avatar-middle" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
                    </div>
                    <div class="layui-col-md8">
                        <div class="layui-row myui-font-color-deep-gray myui-nickname">GoFly全栈开发</div>
                        <div class="layui-row layui-font-12 myui-font-color-gray">
                            <span>发布于 2023-12-23 10:16:45</span>&nbsp
                            <span>IP属地江苏省</span>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-row layui-font-16">
                        go新手，这个gitee拉下来的源码怎么下载依赖
                    </div>
                </div>
                <div class="layui-row">
                    <ul class="myui-image-ul layui-row">
                        <li class="myui-image-li-middle">
                            <img class="myui-list-image" src="https://picsum.photos/400">
                        </li>
                        <li class="myui-image-li-middle">
                            <img class="myui-list-image" src="https://picsum.photos/400">
                        </li>
                        <li class="myui-image-li-middle">
                            <img class="myui-list-image" src="https://picsum.photos/400">
                        </li>
                        <li class="myui-image-li-middle">
                            <img class="myui-list-image" src="https://picsum.photos/400">
                        </li>
                        <li class="myui-image-li-middle">
                            <img class="myui-list-image" src="https://picsum.photos/400">
                        </li>
                        <li class="myui-image-li-middle">
                            <img class="myui-list-image" src="https://picsum.photos/400">
                        </li>
                    </ul>
                </div>
                <div class="layui-row">
                    <div class="layui-row" style="display: flex">
                        <span class="myui-circled-word layui-font-12 myui-background-color-light-gray myui-font-color-gray">开源</span>
                        <span class="myui-circled-word layui-font-12 myui-background-color-light-gray myui-font-color-gray">#开撒但是是的武器大全源</span>
                        <span class="myui-circled-word layui-font-12 myui-background-color-light-gray myui-font-color-gray">#开源</span>
                        <span class="myui-circled-word layui-font-12 myui-background-color-light-gray myui-font-color-gray">#开源</span>
                    </div>
                </div>
                <div class="layui-row">
                    <div style="display: flex">
                        <a>
                            <img class="myui-image-icon" style="margin-right: -5px" src="https://picsum.photos/400">
                        </a>
                        <a>
                            <img class="myui-image-icon" style="margin-right: -5px" src="https://picsum.photos/400">
                        </a>
                        <a>
                            <img class="myui-image-icon" style="margin-right: -5px" src="https://picsum.photos/400">
                        </a>
                        <a>
                            <img class="myui-image-icon" style="margin-right: -5px" src="https://picsum.photos/400">
                        </a>
                        <a>
                            <img class="myui-image-icon" style="margin-right: -5px" src="https://picsum.photos/400">
                        </a>
                        <span style="line-height: 25px;margin-left: 15px" class="myui-font-color-gray">23</span>
                    </div>
                </div>
                <hr>
                <div class="layui-row">
                    <div class="layui-col-md4 myui-icon-press" style="text-align: center">
                        <i class="layui-icon layui-icon-praise layui-font-14"></i>&nbsp
                        点赞(<span>21</span>)
                    </div>
                    <div class="layui-col-md4" style="text-align: center">
                        <i class="layui-icon layui-icon-read layui-font-14"></i>&nbsp
                        浏览(<span>21</span>)
                    </div>
                    <div class="layui-col-md4 myui-icon-press" style="text-align: center">
                        <i class="layui-icon layui-icon-star layui-font-14"></i>&nbsp
                        收藏(<span>21</span>)
                    </div>
                </div>
            </div>

            <div class="layui-card"  style="padding: 10px 10px 15px 15px">
                <div class="layui-row">共<span>7</span>条评论</div>
                <div class="layui-row">
                    <div class="layui-row" style="margin-top: 10px">
                        <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                    <div class="layui-row" style="margin-top: 10px">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">发布</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
                <!--                    评论区-->
                <hr>
                <div class="layui-row" style="margin-top: 20px;">
                    <div class="layui-row" style="display: flex">
                        <div style="width: 50px">
                            <img class="myui-avatar" src="https://picsum.photos/200">
                        </div>
                        <div style="margin-left: 10px">
                            <div class="layui-row">
                                <span class="myui-nickname">derekerrr</span>
                                <span class="layui-font-14 myui-font-color-gray" style="float: right;margin-right: 10px">2023-12:21 21:21:12</span>
                            </div>
                            <div class="layui-row" style="margin: 5px 0px 10px 0px;">go run的时候，联网会自动下载的 run的时候，联网会自动下
                                run的时候，联网会自动下
                                run的时候，联网会自动下 run的时候，联网会自动下 run的时候，联网会自动下 run的时候，联网会自动下 run的时候，联网会自动下
                            </div>
                            <div class="layui-row layui-font-12 myui-font-color-gray" style="display: flex">
                                <div class="myui-icon-press">
                                    <i class="layui-icon layui-icon-praise">点赞(<span>21</span>)</i>
                                </div>
                                &nbsp&nbsp&nbsp
                                <div class="myui-icon-press">
                                    <i class="layui-icon layui-icon-reply-fill" onclick="openCommentArea(1)">评论(<span>21</span>)</i>
                                </div>
                            </div>
                            <div id="comment-area-1"></div>
<!--                            嵌套评论-->
                            <div class="layui-row myui-background-color-light-gray" style="border-radius: 3px;display: flex;padding: 5px;margin-top: 5px">
                                <div style="width: 50px">
                                    <img class="myui-avatar-small" src="https://picsum.photos/200">
                                </div>
                                <div style="margin-left: 10px">
                                    <div class="layui-row">
                                        <span >derekerrr</span>
                                        <span class="layui-font-14 myui-font-color-gray" style="float: right;margin-right: 10px">2023-12:21 21:21:12</span>
                                    </div>
                                    <div class="layui-row" style="margin: 5px 0 5px 0;">go run的时候，联网会自动下载的 run的时候，联网会自动下
                                        run的时候，联网会自动下
                                        run的时候，联网会自动下 run的时候，联网会自动下 run的时候，联网会自动下 run的时候，联网会自动下 run的时候，联网会自动下
                                    </div>
                                    <div class="layui-row layui-font-12 myui-font-color-gray" style="display: flex">
                                        <div class="myui-icon-press">
                                            <i class="layui-icon layui-icon-praise">点赞(<span>21</span>)</i>
                                        </div>
                                        &nbsp&nbsp&nbsp
                                        <div class="myui-icon-press" >
                                            <i class="layui-icon layui-icon-reply-fill" onclick="openCommentArea(2)">评论(<span>21</span>)</i>
                                        </div>
                                    </div>
                                    <div id="comment-area-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="layui-row" style="display: flex;margin-top: 20px">
                        <div style="width: 50px">
                            <img class="myui-avatar" src="https://picsum.photos/200">
                        </div>
                        <div style="margin-left: 10px">
                            <div class="layui-row myui-nickname">
                                derekerr
                            </div>
                            <div class="layui-row" style="margin: 5px 0px 10px 0px;">go run的时候，联网会自动下载的 run的时候，联网会自动下
                                run的时候，联网会自动下
                                run的时候，联网会自动下 run的时候，联网会自动下 run的时候，联网会自动下 run的时候，联网会自动下 run的时候，联网会自动下
                            </div>
                            <div class="layui-row layui-font-12 myui-font-color-gray" style="display: flex">
                                <div class="myui-icon-press">
                                    <i class="layui-icon layui-icon-praise"></i>点赞(<span>21</span>)
                                </div>
                                &nbsp&nbsp&nbsp
                                <div class="myui-icon-press">
                                    <i class="layui-icon layui-icon-reply-fill"></i>评论(<span>21</span>)
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md3"></div>
    </div>
</div>

</body>
</html>
<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script src="../static/layui/layui.js"></script>
<script src="../static/jquery/jquery-3.7.1.min.js"></script>
<script>
    let commentArea = " <div class=\"layui-row\">\n" +
        "                                    <div class=\"layui-row\" style=\"margin-top: 10px\">\n" +
        "                                        <textarea placeholder=\"请输入内容\" class=\"layui-textarea\"></textarea>\n" +
        "                                    </div>\n" +
        "                                    <div class=\"layui-row\" style=\"margin-top: 10px\">\n" +
        "                                        <button type=\"submit\" class=\"layui-btn\" >发布</button>\n" +
        "                                        <button type=\"reset\" class=\"layui-btn layui-btn-primary\">取消</button>\n" +
        "                                    </div>\n" +
        "                                </div>"
    openCommentArea = function (id) {
        let tag = $('#comment-area-' + id);
        if (tag.html().length === 0) {
            tag.html(commentArea)
        } else {
            tag.html('')
        }
    }
</script>